<!DOCTYPE html>
<html>
  <head>
    <title>AiTechManuals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tinymce_assets %>
  </head>

  <body>
    <main class="container mx-auto mt-8 px-5">
      <% if notice %>
        <div class="bg-green-50 p-4 rounded-md mb-4 z-50">
          <div class="flex">
            <div class="flex-shrink-0">
              <p class="text-green-800"><%= notice %></p>
            </div>
          </div>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="bg-red-50 p-4 rounded-md mb-4 z-50">
          <div class="flex">
            <div class="flex-shrink-0">
              <p class="text-red-800"><%= alert %></p>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
